body {
  font-family: "Work Sans", sans-serif;
  margin: auto;
  max-width: 1000px;
  color: #4a4e4f;
}

/* TEXT */

p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
}

a {
  text-decoration: none;
  color: #4a4e4f;
  font-weight: 500;
}

.dark-link {
  color: #4a4e4f;
  font-weight: 600;
}

li {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 10px;
}

h1 {
  font-weight: 400;
  font-size: 2rem;
  margin: 0px;
  margin-bottom: 0.2rem;
}
h2 {
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0px;
}

h3 {
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0px;
}

.heading {
  font-size: 1.4rem;
}

.small-heading {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1rem;
  /* color: #608997; */
}

.caption {
  font-size: 0.8rem;
  font-weight: 400;
  color: #afbabf;
  margin-bottom: 40px;
}

.intro-text {
  font-weight: 300;
  margin-bottom: 100px;
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: #8db9cb;
  width: 90%;
}

.name {
  font-weight: 500;
  font-size: 1.2rem;
}

.subtle {
  color: #a2b1b7;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.labels {
  font-size: 0.8rem;
  color: #608b9d;
  margin-bottom: 0px;
}

.menu-item {
  margin-right: 20px;
  font-size: 1rem;
  color: #8db9cb;
  font-weight: 500;
}
.menu-item:hover {
  text-decoration: underline;
}
.menu-item:last-child {
  margin-right: 0px;
}

.menu-item-active {
  text-decoration: underline;
  color: #608997;
}

.case-study-list-item:hover {
  font-weight: 500;
  left: 2px;
  transition: left font-weight 0.4s;
}

.case-study-list-item span {
  color: #8db9cb;
  margin-left: 10px;
  animation: fade-in ease 2.5s;
  font-weight: 400;
}

/* ELEMENTS */

.img {
  max-width: 100%;
  margin: 30px 0px 10px 0px;
  box-shadow: 2px 2px 24px -6px rgba(162, 177, 183, 0.64);
  align-self: center;
}

.img-sml {
  margin: 30px 0px 10px 0px;
  box-shadow: 2px 2px 24px -6px rgba(162, 177, 183, 0.64);
  max-width: 50%;
  align-self: center;
}

.profile-img {
  width: 200px;
  border-radius: 50%;
}

.navigation {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.divider {
  border-right: 1px solid #d6e0e4;
  width: 1px;
  margin: 0px 20px;
}

.arrow {
  width: 20px;
  margin-right: 10px;
}

.case-study-list-item {
  margin-bottom: 10px;
  position: relative;
  left: 0px;
  transition: left 0.4s;
  animation: fade-in ease 2s;
  max-width: 600px;
  font-weight: 400;
}

.typing-animation {
  animation: fade-in ease 3s;
}

.summary-box {
  background-color: #ebf3f6;
  padding: 30px;
  margin: 60px 0 40px 0;
  display: flex;
  justify-content: space-between;
}

.case-study-nav {
  text-align: right;
  border-top: 1px solid #608b9d;
  margin-top: 60px;
  padding: 30px 0px;
}

.case-study-next {
  text-align: right;
}

.button {
  background-color: #daeef7;
  color: #608b9d;
  padding: 6px 10px;
  border-radius: 3px;
  display: inline;
}

.button a {
  color: #608b9d;
  font-size: 0.8rem;
  line-height: 0.9rem;
}

/* LAYOUT */

.home-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.home-content {
  margin: 60px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: fade-in ease 1s;
}

.page-layout {
  margin: 120px 20px;
  max-width: 900px;
}

.case-study-layout {
  max-width: 650px;
}

.column-layout {
  display: flex;
  margin-top: 60px;
}

.flex {
  display: flex;
}

.mr-lrg {
  margin-right: 2rem;
}
.mr-sml {
  margin-right: 1rem;
}
.mb-lrg {
  margin-bottom: 2rem;
}

.mb-sml {
  margin-bottom: 1.2rem;
}

#footer {
  margin: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  border-top: 1px solid #d6e0e4;
  color: #a2b1b7;
  font-size: 1rem;
  animation: fade-in ease 5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 375px) {
  .container {
    justify-content: start;
    height: 100%;
  }
  .menu-item {
    display: none;
  }
  .intro-text {
    font-size: 20px;
    font-weight: 400;
  }
  .home-content {
    margin: 10px 10px;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
  .typing-animation {
    display: none !important;
  }
}
